# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example::
#
#     pip install -U -r requirements.pip

# core requirements
Jinja2>=2,<3
-e git+https://github.research.chop.edu/dbhi/eig-OnCore-Client.git@3c838a8080eef0ce65251be6cd5710754b32517a#egg=eig-OnCore-Client
