<div class="container">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Sample Type</th><th>Status</th><th>Actions</th>
			</tr>
		</thead>
		<tbody>
					{% for alq in aliquots %}
					<tr>
						<td>{{alq.label}}{% if alq.is_received %}<small class="text-muted"> <small class="text-muted"> -- Collected On: {{alq.U_COLLECT_DATE_TIME}} -- Received On: {{alq.U_RECEIVED_DATE_TIME}}</small>{% endif %}<span class="label label-primary pull-right muted">{{alq.NAME}}</span></td><td align="center">{{alq.STATUS|safe}}</td><td align="right">{% if allow_print %} <a data-toggle="modal" href="#printModal" aliquot-id="{{alq.ALIQUOT_ID}}" class="btn btn-default btn-sm print-label">Print Label</a>{% else %} <small><em>No Actions Currently Available</em></small>{% endif %}</td>
					</tr>
					{% endfor %}
		</tbody>
	</table>
	<br>
	<br>
</div>
{% if allow_print %}
<!-- ALIQUOT LABEL MODAL -->
<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Print Aliquot Label</h4>
        </div>
        <div class="modal-body">
          {% if allow_chop_print %}
          Select Remote Printer:
          <select id = "printSelect">
			{% for printer in printers %}<option>{{printer}}</option>{% endfor %}
          </select>
          {% endif %}
          {% if allow_zpl %}
          <div class="alert alert-danger" style="display:none;margin-top:10px;"></div>
          <div class="alert alert-success" style="display:none;margin-top:10px;"></div>
          <div class="local-print" style="display:none;margin-top:10px;">
            <center><textarea class="zpl-text" style="width:375px;height:225px"></textarea></center><br>
            <div class="panel panel-warning">
              <div class="panel-heading">
                ZPL Usage
              </div>
              <div class="panel-body">
                Printing ZPL markup requires direct access to your systems print drivers. This is currently not possible through a web application. If you would like to print to a locally attached Zebra printer you will need to copy the above text to Notepad, TextEdit, or another comparable text editor and print to your local Zebra printer through that application.
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="modal-footer">
          {% if allow_zpl %}<button class="btn btn-primary" id="exportLabel">Retrieve Raw ZPL</button>{% endif %} {% if allow_chop_print %}<button class="btn btn-primary" id="printLabel">Print</button>{% endif %} <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {% endif %}
  <!-- PRINT MODAL -->
  <div class="modal fade" id="aliquotAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add an Unscheduled Aliquot</h4>
        </div>
        <div class="modal-body">
          The addition of unscheduled aliquots is currently unsupported.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
  	var target_label = ''
  	$(".print-label").on('click',function(){
  		target_label = $(this).attr('aliquot-id')
      $(".zpl-text").text('');
      $(".local-print").hide();
      $(".alert").val();
      $(".alert").hide();
  	})
  	$("#printLabel").on('click',function(){
      var printer = $('#printSelect').val()
      if (printer == ''){
        $(".alert-danger").text('Error: No printer Selected')
        $(".alert-danger").show()
      } else {
        $.ajax({
          type:'GET',
          dataType: 'json',
          url:'{{print_url}}'+'?aliq_id='+target_label+'&dest_printer='+encodeURIComponent($('#printSelect').val())+'&fmt=print'
        }).done(function(data){
          if (data.status=='ok'){
            $(".alert").hide();
            $(".alert-success").text(data.msg)
            $(".alert-success").show()
          }
          else {
            $(".alert").hide();
            $(".alert-danger").text('There was an error printing your label.');
            $(".alert-danger").show();
          }
        })
      }
  	})
    $("#exportLabel").on('click',function(){
      $.ajax({
        type:'GET',
        url:'{{print_url}}'+'?aliq_id='+target_label+'&fmt=raw'
      }).done(function(data){
        console.log(data);
        $(".zpl-text").text(data);
        $(".local-print").show();
      })
    })

  </script>
